.DishesImage{
    width: 70px;
    float: left;
    margin: 10px 10px 50px 10px;
}
.Dishes{
    margin: 20px;
    padding: 5px;
    border: 1px solid #cccccc;
    width: 250px;
    display: inline-block;
}
.DishesButton{
    padding: 5px;
    border: transparent;
    background: #cccccc;
    margin-bottom: 10px;
}